.Body{
    background-color: rgba(54, 173, 38, 0.445);
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo2{
    border: 1px solid #000;
}